[submodule ".registry"]
	path = .registry
	url = https://github.com/r-universe-org/cran-to-git
	shallow = true
	branch = HEAD
[submodule "fstcore"]
	path = fstcore
	url = https://github.com/cran/fstcore
	shallow = true
	registered = true
